[submodule "growatt-interrogator"]
	path = growatt-interrogator
	url = https://github.com/PrimusNZ/addon-growatt-interrogator
[submodule "hvac-ip-mqtt-bridge"]
	path = hvac-ip-mqtt-bridge
	url = https://github.com/PrimusNZ/addon-hvac-ip-mqtt-bridge.git
[submodule "addon-jellyfin"]
	path = addon-jellyfin
	url = https://github.com/PrimusNZ/addon-jellyfin.git
[submodule "sonarr"]
	path = sonarr
	url = https://github.com/PrimusNZ/addon-sonarr.git
[submodule "addon-radarr"]
	path = addon-radarr
	url = https://github.com/PrimusNZ/addon-radarr.git
[submodule "addon-jackett"]
	path = addon-jackett
	url = https://github.com/PrimusNZ/addon-jackett.git
[submodule "addon-transmission-openvpn"]
	path = addon-transmission-openvpn
	url = https://github.com/PrimusNZ/addon-transmission-openvpn.git
[submodule "addon-sabnzbd"]
	path = addon-sabnzbd
	url = https://github.com/PrimusNZ/addon-sabnzbd.git
[submodule "addon-lidarr"]
	path = addon-lidarr
	url = https://github.com/PrimusNZ/addon-lidarr.git
[submodule "addon-ispy-agent"]
	path = addon-ispy-agent
	url = https://github.com/PrimusNZ/addon-ispy-agent.git
[submodule "addon-blueiris"]
	path = addon-blueiris
	url = https://github.com/PrimusNZ/addon-blueiris.git
