[submodule "growatt-interrogator"]
	path = growatt-interrogator
	url = https://github.com/PrimusNZ/addon-growatt-interrogator
[submodule "hvac-ip-mqtt-bridge"]
	path = hvac-ip-mqtt-bridge
	url = https://github.com/PrimusNZ/addon-hvac-ip-mqtt-bridge.git
[submodule "addon-jellyfin"]
	path = jellyfin
	url = https://github.com/PrimusNZ/addon-jellyfin.git
[submodule "addon-sonarr"]
	path = sonarr
	url = https://github.com/PrimusNZ/addon-sonarr.git
[submodule "addon-radarr"]
	path = radarr
	url = https://github.com/PrimusNZ/addon-radarr.git
[submodule "addon-jackett"]
	path = jackett
	url = https://github.com/PrimusNZ/addon-jackett.git
[submodule "addon-transmission-openvpn"]
	path = transmission-openvpn
	url = https://github.com/PrimusNZ/addon-transmission-openvpn.git
[submodule "addon-sabnzbd"]
	path = sabnzbd
	url = https://github.com/PrimusNZ/addon-sabnzbd.git
[submodule "addon-lidarr"]
	path = lidarr
	url = https://github.com/PrimusNZ/addon-lidarr.git
[submodule "addon-prowlarr"]
	path = prowlarr
	url = https://github.com/PrimusNZ/addon-prowlarr.git
[submodule "mysql-cron-backup"]
	path = mysql-cron-backup
	url = https://github.com/PrimusNZ/addon-mysql-cron-backup.git
[submodule "homarr"]
	path = homarr
	url = https://github.com/PrimusNZ/addon-homarr.git
[submodule "jellyseerr"]
	path = jellyseerr
	url = https://github.com/PrimusNZ/addon-jellyseerr.git
