[submodule "growatt-interrogator"]
	path = growatt-interrogator
	url = https://github.com/PrimusNZ/addon-growatt-interrogator
[submodule "hvac-ip-mqtt-bridge"]
	path = hvac-ip-mqtt-bridge
	url = https://github.com/PrimusNZ/addon-hvac-ip-mqtt-bridge.git
[submodule "addon-jellyfin"]
	path = addon-jellyfin
	url = https://github.com/PrimusNZ/addon-jellyfin.git
[submodule "sonarr"]
	path = sonarr
	url = https://github.com/PrimusNZ/addon-sonarr.git
[submodule "addon-radarr"]
	path = addon-radarr
	url = https://github.com/PrimusNZ/addon-radarr.git
